<div id="home-carousel" class="carousel carousel-home slide" data-ride="carousel" data-interval="5000">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="active item">
                        <section class="site-section site-section-light site-section-top themed-background-default">
                            <div class="container">
                                <h1 class="text-center animation-slideDown hidden-xs"><strong>A complete web solution for your awesome project</strong></h1>
                                <h2 class="text-center animation-slideUp push hidden-xs">Bring your project to life months sooner</h2>
                                <p class="text-center animation-fadeIn">
                                    <%= image_tag "placeholders/screenshots/promo_desktop_left.png" %>
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="item">
                        <section class="site-section site-section-light site-section-top themed-background-fire">
                            <div class="container">
                                <h1 class="text-center animation-fadeIn360 hidden-xs"><strong>Featuring a Powerful and Flexible layout</strong></h1>
                                <h2 class="text-center animation-fadeIn360 push hidden-xs">Letting you focus on creating your project</h2>
                                <p class="text-center animation-fadeInLeft">
                                    <%= image_tag "placeholders/screenshots/promo_desktop_right.png" %>
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="item">
                        <section class="site-section site-section-light site-section-top themed-background-amethyst">
                            <div class="container">
                                <h1 class="text-center animation-hatch hidden-xs"><strong>Fully Responsive and Retina Ready</strong></h1>
                                <h2 class="text-center animation-hatch push hidden-xs">The UI will look great and crisp</h2>
                                <p class="text-center animation-hatch">
                                    <%= image_tag "placeholders/screenshots/promo_mobile.png" %>
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="item">
                        <section class="site-section site-section-light site-section-top themed-background-modern">
                            <div class="container">
                                <h1 class="text-center animation-fadeInLeft hidden-xs"><strong>Tons of features are designed &amp; waiting for you</strong></h1>
                                <h2 class="text-center animation-fadeInRight push hidden-xs">Everything you need for your project</h2>
                                <p class="text-center animation-fadeIn360">
                                    <%= image_tag "placeholders/screenshots/promo_tablet.png" %>
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- END Wrapper for slides -->

                <!-- Controls -->
                <a class="left carousel-control" href="#home-carousel" data-slide="prev">
                    <span>
                        <i class="fa fa-chevron-left"></i>
                    </span>
                </a>
                <a class="right carousel-control" href="#home-carousel" data-slide="next">
                    <span>
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
                <!-- END Controls -->
            </div>
